.user-list-container {
  h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2d3a4b;
  }
}
.user-list-loading,
.user-list-container{
  p {
  text-align: center;
  color:#ffffff;
  margin-top: 2rem;
}
h3{
  color:#ffffff;
  margin-top: 2rem;
}
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: #fff;
    }
    .user-list-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1rem;
    }
    span {
      font-weight: 500;
      color:#ffffff
    }
  }
}
